@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: 'Public Sans', sans-serif;
  --color-black: #000000;
  --color-white: #FFFFFF;
  --color-bg: #FFFFFF;
  --color-text: #E0E0E0;
}


header {
  ul {
    list-style: none;
    color: var(--color-text);

    li {
      display: inline-block;

      &:hover {
        text-shadow: 0 0 0 white;
        color: white;
      }
    }
  }
}

body {
  background-color: var(--color-bg);
}

.btn {
  text-decoration: none;
  color: var(--color-black);
  font-weight: 500;
  transition: all 0.2s ease;
  background-color: var(--color-white);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--color-black);

  &:hover {
    background-color: var(--color-black);
    color: var(--color-white);
    border: 1px solid var(--color-white);
  }
}